<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="gateway" parallel="false">
	<test name="ut core">
		<packages>
			<package name="com.exemple.gateway.core" />
		</packages>
	</test>
	<test name="ut location">
		<packages>
			<package name="com.exemple.gateway.location" />
		</packages>
	</test>
	<test name="ut security">
		<packages>
			<package name="com.exemple.gateway.security" />
		</packages>
	</test>
</suite>
